/.metadata/
.project
.settings
.classpath
web.war
servidor.jar
/bin/
/servidorCentral/bin/
/servidorCentral/.project
/servidorCentral/.classpath
/servidorCentral/.settings
/servidorCentral/build
/estacionDeTrabajo/bin/
/Front-End/.vscode
/servidorWeb/build/
/servidorWeb/WebContent
/servidorWeb/bin
/servidorWeb/.pmd
/servidorWeb/.tomcatplugin
/servidorWeb/build
/servidorWeb/dist
.directory
*.lck
*.log
*.properties
*.script
/tomcat
