/.metadata/
.project
.settings
.classpath
/bin/
/servidorCentral/bin/
/servidorCentral/.project
/servidorCentral/.classpath
/servidorCentral/.settings
/estacionDeTrabajo/bin/
/Front-End/.vscode
/servidorWeb/build/
.directory
