@charset "ISO-8859-1"; 
 
#coco{
	padding-top: .70rem;
    padding-bottom: .70rem;
}

#valido{
	padding-top: .70rem;
}
.ins-cat-section{
	border-radius: 1em;
    background-color: rgba(204 204 204 / 28%);
    padding: 1em 1em 1em 1em;
}
#boto{ 
	margin: 20px;
}

#comprar{
	padding-top: 30px;
	text-align: center;
}

#acts{
	background: #EAEDED;
}

#cats{
	background: #EAEDED;
	margin-top: 20px;
}

#cat{
	background: #0288D1;
	margin:0px;
	padding-bottom: 0px;
	padding-top: 5px;
	color: white;
	text-align: center;
}

.extraInfoDiv{
	padding-right: 5px;
    padding-left: calc(var(--bs-gutter-x) * .5);
	border-radius: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    background-color: rgba(204 204 204 / 28%);
    padding: 1em 1em 1em 1em;
}

.ins-cat-section{
	border-radius: 1em;
    background-color: rgba(204 204 204 / 28%);
    padding: 1em 1em 1em 1em;
}

.im{
	border-color: silver;
    object-fit: contain;
    width: 100%;
	height: 5em;
    display: block;
    margin-right: auto;
}

#act1{
	border-bottom: 1px solid black;
}

.im-ultima{
	margin-top: 5px;
	margin-left:5px;
	margin-bottom: 5px;
}

#act-ultima{
	padding-bottom: 5px;
}

#act2{
	margin-top: 10px;
}

#cat2{
	margin: 0px;
	padding: 5px;
}

#user-superior {
	display: flex;
   	justify-content: flex-start;
}

#user-nickname {
	font-size: 50px;
}

#cupImg{
    object-fit: cover;
    justify-content: center;
    width: 100%;
    height: 10em;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #0275d8;
}

#creatorDiv{
    margin-top: 1em;
    display: flex;
    align-items: center;
}

#mainImgDiv{
    object-fit: cover;
    justify-content: center;
    width: 100%;
    height: 10em;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #0275d8;
}

 .imagenSeleccionable {
	object-fit: cover;
	width:80px;
	height:80px;
	display: block;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: #0275d8;
}

.clase {
	padding: 10px;
	vertical-align: top; 
	text-align: top;
	font-size: 21px;
}

.extraInfoDiv{
	border-radius: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    background-color: rgba(204 204 204 / 28%);
    padding: 1em 1em 1em 1em;
}

.elementoLista{
	width: 100%;
    display: flex;
    align-items: center;
	background: white;
	color: #525252;
	transition: transform 0.25s;
}
.elementoLista:hover {
	transform: scale(1.111);
}
