body {
    background: url(../../assets/images/misc/wpm.jpg) no-repeat center center fixed;
    background-size: cover;
}

.main {
    background-color: rgb(245, 245, 245);
    margin-top: 8rem !important;
    margin-bottom: 8rem !important;
    margin: 0 auto;
    border-radius: 5px;
    opacity: .99;
    padding: 0 20;
    box-shadow: 0px 0px 3px #848484;
    max-width: 500px;
}

.sub-main {
	background-color: rgb(245, 245, 245);
    margin-top: 8rem !important;
    margin-bottom: 8rem !important;
    margin: 0 auto;
    border-radius: 5px;
    opacity: .99;
    padding: 0 20;
    box-shadow: 0px 0px 3px #848484;
    max-width: 500px;
}

.top {
	justify-content: center;
	text-align: center;
	margin-left: 0.3%;
}

#iconoEUY {
    width: 80px;
    display: block;
    margin: auto;
    margin-top: 5%;
}

#titulo {
    font-family: sans-serif;
    font-size: 30px;
    color: #1d1d1d;
    text-align: center;
    margin-top: 4%;
}

#btn-is {
    
}
