@charset "UTF-8";

body {
	overflow-x: hidden;
}

.link-dark {
	text-decoration: none;
}

#img-perfil
{
	margin-bottom: 10px;
}
.ins-cat-section{
	border-radius: 1em;
    background-color: rgba(204 204 204 / 28%);
    padding: 1em 1em 1em 1em;
}
/*Botones de navegador*/

#user-navegador {
	 border-radius: 2px 0 0 0 !important;
	 height: 42px;
	 width: auto;
	 border-collapse: separate;
    overflow: hidden;
    perspective: 1px;
}

#nav-perfil {
	border-radius: 6px 7px 0 0 !important;
	border-collapse: separate;
    overflow: hidden;
    perspective: 1px;
}
.ins-cat-section{
	border-radius: 1em;
    background-color: rgba(204 204 204 / 28%);
    padding: 1em 1em 1em 1em;
    margin-right: 1em;
}

.extraInfoDiv{
	border-radius: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    background-color: rgba(204 204 204 / 28%);
    padding: 1em 1em 1em 1em;
}

.user-nav {
	border-radius: 6px 7px 0 0 !important;
	border-collapse: separate;
    overflow: hidden;
    perspective: 1px;
}

 
 #user-superior {
 	display: flex;
    justify-content: flex-start;
 }
 
#user-superior-botones {

  	padding-left: 20px;
}
 
 #img-perfil {
 	object-fit: cover;
    justify-content: center;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #0275d8;
 }
 
#user-seguir {
 	max-width: 100%;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }
 
 #user-editar-btn {
    display: flex;
    justify-content: flex-end;
 }
 
 /* Consultas de navegador */
 
 #user-consultaPerfil {
 	display: block;
 	max-width: 2000x;
 	max-height: 375px;
 	overflow-y: auto;
 }
 
#user-consultaInscripciones {
  	list-style-type: none;
  display: none;
 	max-width: 2000x;
 	max-height: 375px;
 	overflow-y: auto;
}
  #user-consultaClases {
  list-style-type: none;
  	display: none;
 	max-width: 2000x;
 	max-height: 375px;
 	overflow-y: auto;
 }
 
 #user-seguidores {
   list-style-type: none;
  display: none;
 	max-width: 2000x;
 	max-height: 375px;
 	overflow-y: auto;
 }
 
 #user-seguidos {
 	list-style-type: none;
  display: none;
 	max-width: 2000x;
 	max-height: 375px;
 	overflow-y: auto;
 }
 
 #user-cuponeras {
 	list-style-type: none;
  display: none;
 	max-width: 2000x;
 	max-height: 375px;
 	overflow-y: auto;
 }
 
 #user-consultaAD{
 	list-style-type: none;
  display: none;
 	max-width: 2000x;
 	max-height: 375px;
 	overflow-y: auto;
 }
 
 #user-consultaADI{
 	list-style-type: none;
  display: none;
 	max-width: 2000x;
 	max-height: 375px;
 	overflow-y: auto;
 }
 
  #user-consultaActividadesDeportivas {
  list-style-type: none;
  display: none;
 	max-width: 2000x;
 	max-height: 375px;
 	overflow-y: auto;
 }
 
  #user-consultaCuponeras {
  list-style-type: none;
  display: none;
 	max-width: 2000x;
 	max-height: 375px;
 	overflow-y: auto;
 }
 
 /*							*/
 
 /* Listas de consultas */
 
#listaActividadesClases {
  list-style-type: none;
}
#listaActividadesActDep {
  list-style-type: none;
}
#listaActividadesCuponeras {
  list-style-type: none;
}
 
 /*                         */

.imagenSeleccionable {
	object-fit: cover;
	width:80px;
	height:80px;
	display: block;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: #0275d8;
}

.clase {
	padding: 10px;
	vertical-align: top; 
	text-align: top;
	font-size: 21px;
}

.elementoLista {
	width: 96%;
	background: white;
	color: #525252;
	transition: transform 0.25s;
}

.elementoLista:hover {
	transform: scale(1.033);
}

.consultaAceptadaRechazada {
	margin-left: 10px;
}

#user-nickname {
	font-size: 50px;
}

#user-type {
	font-size: 20px;
}
