@charset "UTF-8";

body {
	overflow-x: hidden;
}

.link-dark {
	text-decoration: none;
}

#img-perfil
{
	margin-bottom: 10px;
}
.ins-cat-section{
	border-radius: 1em;
    background-color: rgba(204 204 204 / 28%);
    padding: 1em 1em 1em 1em;
}
/*Botones de navegador*/

#user-navegador {
	 border-radius: 2px 0 0 0 !important;
	 height: 42px;
	 width: auto;
	 border-collapse: separate;
    overflow: hidden;
    perspective: 1px;
}

#nav-perfil {
	border-radius: 6px 7px 0 0 !important;
	border-collapse: separate;
    overflow: hidden;
    perspective: 1px;
}
.ins-cat-section{
	border-radius: 1em;
    background-color: rgba(204 204 204 / 28%);
    padding: 1em 1em 1em 1em;
    margin-right: 1em;
}

.extraInfoDiv{
	border-radius: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    background-color: rgba(204 204 204 / 28%);
    padding: 1em 1em 1em 1em;
}

.user-nav {
	border-radius: 6px 7px 0 0 !important;
	border-collapse: separate;
    overflow: hidden;
    perspective: 1px;
}

 
 #user-superior {
 	display: flex;
    justify-content: flex-start;
 }
 
#user-superior-botones {

  	padding-left: 20px;
}
 
 #img-perfil {
 	object-fit: cover;
    justify-content: center;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #0275d8;
 }
 
#user-seguir {
 	max-width: 100%;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }
 
 #user-editar-btn {
    display: flex;
    justify-content: flex-end;
 }
 
 /* Consultas de navegador */
 
 #user-consultaPerfil {
 	display: block;
 	width: 1100px;
 	max-width: 1100px;
 	max-height: 375px;
 	overflow-y: auto;
 }
 
#user-consultaInscripciones {
  	list-style-type: none;
    display: none;
    width: 1100px;
 	max-width: 1100px;
 	max-height: 375px;
 	overflow-y: auto;
}
  #user-consultaClases {
    list-style-type: none;
  	display: none;
  	width: 1100px;
 	max-width: 1100px;
 	max-height: 375px;
 	overflow-y: auto;
 }
 
 #user-seguidores {
   list-style-type: none;
    display: none;
    width: 1100px;
 	max-width: 1100px;
 	max-height: 375px;
 	overflow-y: auto;
 }
 
 #user-seguidos {
 	list-style-type: none;
    display: none;
    width: 1100px;
 	max-width: 1100px;
 	max-height: 375px;
 	overflow-y: auto;
 }
 
 #user-cuponeras {
 	list-style-type: none;
    display: none;
    width: 1100px;
 	max-width: 1100px;
 	max-height: 375px;
 	overflow-y: auto;
 }
 
  #user-clasesFinalizadas {
    display: none;
    width: 1100px;
    max-width: 1100px;
    max-height: 375px;
    overflow-y: auto;
 }
 
 #user-premios {
  list-style-type: none;
  display: none;
  width: 1100px;
  max-width: 1100px;
  max-height: 375px;
  overflow: auto;
  margin-left: 0;
 }
 
 #user-consultaAD{
 	list-style-type: none;
    display: none;
   width: 1100px;
 	max-width: 1100px;
 	max-height: 375px;
 	overflow-y: auto;
 }
 
 #user-consultaADI{
 	list-style-type: none;
    display: none;
    width: 1100px;
 	max-width: 1100px;
 	max-height: 375px;
 	overflow-y: auto;
 }
 
  #user-consultaActividadesDeportivas {
    list-style-type: none;
    display: none;
 	max-width: 2000x;
 	max-height: 375px;
 	overflow-y: auto;
 }
 
  #user-consultaCuponeras {
    list-style-type: none;
    display: none;
 	max-width: 2000x;
 	max-height: 375px;
 	overflow-y: auto;
 }
 
 /*							*/
 
 /* Listas de consultas */
 
#listaActividadesClases {
  list-style-type: none;
}
#listaActividadesActDep {
  list-style-type: none;
}
#listaActividadesCuponeras {
  list-style-type: none;
}
 
 /*                         */

/*	Estrellas	*/
  
#estrellitas-exterior::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: grey;
}

#estrellitas-exterior {
  position: relative;
  display: inline-block;
  /*padding: 0 0 0 0 !important;
  text-align: center;*/
  font-size: 30px;
  top: 0;
  left: 0;
  white-space: nowrap;
}

#estrellitas-interior::before {  
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #f8ce0b;	/* amarillo estrella */
  /*font-size: 60px;
  background: -webkit-linear-gradient(right, #eee 10%, #ffe234 100%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-family: Times;
  line-height: 1;*/
}

#estrellitas-interior {
  /*text-align: center;*/
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 0.75 rem;
  white-space: nowrap;
  overflow: hidden;
  width: 0%;
}

#user-rating {
  padding-top: 10%;
  font-size: 65px;
  text-align: center;
}

#estrellitas-cantEstrellas {
  text-align: right;
  padding-top: 7.55%;
}

#estrellitas-barras {
  padding-top: 7%;
}

#estrellitas-puntajes {
  text-align: left;
  padding-top: 7.5%;
}

#estrellitas-votos {
  text-align: center;
}

.puntaje {
  font-size: 17.5px;
  line-height: 27.5px ;
  margin-top: 0 ;
  margin-bottom: 0 ;
}

.porcentajes {
  size: 15px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  position: absolute;
  text-align: center;
  line-height: 20px; /* line-height should be equal to bar height */
  overflow: hidden;
  color: white;
  right: 0;
  left: 0;
  top: 0;
}

.progress {
  position:relative;
}

.progress {
	height: 17.5px;
	margin-top: 10px;
}

#user-infoRating {
  margin-right: 10%;
}
/*                         */

.imagenSeleccionable {
	object-fit: cover;
	width:80px;
	height:80px;
	display: block;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: #0275d8;
}

#imagenSeleccionableSecundaria {
    justify-content: right;
	display: flex;
	position: relative;
	text-align: right !important;
	
	/*right: 150px;
	/*margin: 0px 15px 15px 0px;*/
}

.imagenSeleccionableSecundaria {
	margin-top: 45%;
	object-fit: cover;
	width:50px;
	height:50px;
}

.clase {
	padding: 10px;
	vertical-align: top; 
	text-align: top;
	font-size: 21px;
}

.elementoLista {
	max-width: 100%;
	--bs-gutter-x: 0;
	width: 96%;
	background: white;
	color: #525252;
	transition: transform 0.25s;
	min-width: 500px;
}

.elementoListaPequenio {
	min-width: 250px !important;
}

.elementoLista:hover {
	transform: scale(1.033);
}

.consultaAceptadaRechazada {
	margin-left: 10px;
}

#user-nickname {
	font-size: 50px;
}

#user-type {
	font-size: 20px;
}
