/*---NAVBAR---*/

body {
	overflow-x: hidden;
}

#btn-inicio-sesion{
	white-space: nowrap;
}
#nav-inireg{
	align-items: center;
}
.extraInfoDiv{
	border-radius: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    background-color: rgba(204 204 204 / 28%);
    padding: 1em 1em 1em 1em;
}
.btn-ir {
    margin-right: 85%;
    width: 120px;
}

.navbar-2 {
    background-color: #f0f0f0;
    opacity: 0.9;
}

.container-principal {

}

.row-container {
    justify-content: center;
}

.actDep img{
    max-width: 250px;
    max-height: 150px;
}

.main-section {
    margin: 0 auto;
    margin-top: 50%;
}

#profilePicCreator{
    object-fit: cover;
	width:80px;
	height:80px;
	display: block;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: #0275d8;
}
#logout-session{
 white-space: nowrap;
}
/*---BIENVENIDA---*/

.bienvenida {
    background: url(../img/wallpaperBg.jpg);
    background-position: center;
    background-size: cover;
    color: #f0f0f0;
}

.bienvenida p {
    
}

/*----------------*/

.nav-info {
    margin-left: 50%;
}

/*---FOOTER---*/

.footer {
    background: #112764;
    color: #f0f0f0;
    margin-top: 5%;
}

.footer-row {
    padding: 5% 20%;
    text-align: center;
}

#nombreCompletoDiv{
    margin-left: 0;
}

#socioRadio{
    padding-left: 2em;
}
#profeRadio{
    padding-left: 2em;
}

#divApellido{
    flex-grow: 1;
}
#divNombre{
    padding:0;
}

.modal-content {
    background-color:#ececec;
    opacity: .95;
    padding: 0 20;
    box-shadow: 0px 0px 3px #848484;
}

.user-img {
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img {
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
}

.form-group input {
    height: 42px;
    font-size: 18px;
    border: 0;
    padding-left: 54px;
    border-radius: 5px;
}

.form-group::before {
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    left: 28px;
    font-size: 22px;
    padding-top: 4px;
}

.form-group#user-group::before {
    content: "\f007";
}

.form-group#contraseña-group::before {
    content: "\f023";
}

.main-section a {
    width: 60%;
    margin: 5px 0 25px;
}

.register {
    padding: 5px 0;
}

.register a:hover {
    text-decoration: none;
    color: #bfc2c6;
}

.register a {
    color: whitesmoke;
    margin: 15px;
}

/*---TAMANO PANTALLA---------------------------------------------------------*/

/*---MEDIA PANTALLA EXTRA-EXTRA-LARGE---*/
@media (max-width: 10000) {
    .nav-info {
        margin-left: 80% !important;
    }
}

/*---MEDIA PANTALLA EXTRA-LARGE---*/
@media (max-width: 1400) {
    .nav-info {
        margin-left: 80% !important;
    }
}

/*---MEDIA PANTALLA LARGE---*/

@media (max-width: 1200) {
    .nav-info {
        margin-left: -12%;
    }
}

/*---MEDIA PANTALLA MED---*/

@media (max-width: 992px) {
    #btn-registrarse {
        margin-top: -0.5% !important;
    }

    .nav-info {
        margin-left: -12%;
    }
}

/*---MEDIA PANTALLA SM---*/

@media (max-width: 768px) {
    #btn-registrarse {
        margin-top: -0.5% !important;
    }

    .nav-info {
        margin-left: -12%;
    }
}

/*---MEDIA PANTALLA EXTRA-SM---*/

@media (max-width: 576px) {
    #btn-registrarse {
        margin-top: -0.5% !important;
    }

    .ins-cat {
        margin-left: -5% !important;
    }

    .actdep-panel {
        margin-left: 5% !important;
    }

    .actdep-panel img {

    }

    .nav-info {
        margin-left: -12%;
    }
}